label, input{
    display: block;
    width: 100%;
}
input[type="submit"]{
    width: 100%;
    margin: 10px auto;
}
form{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
body{
    background-color: rgb(10, 10, 10);
}
nav{
    background-color: rgba(0, 0, 0, 0.534);
}
.title{
    color: white;
}
